<h1>Welcome to Bookers!!</h1>
<p>In bookers,</p>
<p>You can share and exchange your opinions , inpressions ,and emotions about various books! </p>

<%=link_to "Log in",user_session_path%>
<%=link_to "Sign in",new_user_session_path%>
